<mat-toolbar color="primary">
  <span>CarRental App</span>
  <span class="spacer"></span>
  <button mat-button *ngIf="!authService.isLoggedIn()" routerLink="/login">Logowanie</button>
  <button mat-button *ngIf="!authService.isLoggedIn()" routerLink="/register">Rejestracja</button>
  <button mat-button routerLink="/vehicles">Pojazdy</button>
  <button mat-button *ngIf="authService.isLoggedIn()" routerLink="/my-reservations">Moje rezerwacje</button>
  <a mat-raised-button color="accent" href="https://localhost:44380/api/reports/fleet/excel" download="FleetReport.xlsx">
    Raport XLS
  </a>
  <a mat-raised-button color="accent" href="https://localhost:44380/api/reports/fleet/pdf">
    Raport pdf
  </a>
  <button mat-button *ngIf="authService.isLoggedIn()" (click)="onLogout()">Wyloguj</button>
</mat-toolbar>

<router-outlet></router-outlet>
